<table style="width:100%; table-layout: fixed;">
  <tr>
    <th *ngFor="let column of conf">{{column.label}}</th>
  </tr>
  <tr>
    <td *ngFor="let column of conf"><input/></td>
  </tr>
  <tr *ngFor="let slon of model.slonovi">
    <td *ngFor="let column of conf">{{slon[column.key]}}</td>
    <td><button class="btn btn-danger" (click)="obrisiSlona(slon.id)">X</button></td>
    <td><button class="btn btn-primary" (click)="editujSlona(slon.id)">Edit</button></td>
  </tr>
</table>
