<form (submit)="dodajSlona()">
        <div class="col-md-12">
            <div class="form-group">
                <label>Ime</label>
                <input name="ime" [(ngModel)]="noviSlon.ime" class="form-control" />
            </div>
            <div class="form-group">
                <label>Kilaza</label>
                <input name="kilaza" type="number" [(ngModel)]="noviSlon.kilaza" class="form-control" />
            </div>
            <div class="form-group">
                <label>Visina</label>
                <input name="visina" type="number" [(ngModel)]="noviSlon.visina" class="form-control" />
            </div>

            <div class="form-group">
                <label>Birthdate</label>
            <input name="birthdate" type="date" [(ngModel)]="noviSlon.birthdate" class="form-control" />
                
            </div>

                   <!-- <my-date-picker name="birthdate" [options]="mojiOptionsi" 
                              [(ngModel)]="noviSlon.birthdate" required></my-date-picker> -->
        </div>
        
        <button class="btn btn-primary" type="submit">Dodaj</button>
    </form>
    <router-outlet></router-outlet>