<div class="menu">
  <span class="search">
    <input type="text" name="search">
    <input type="submit" class="button" value="Search">
  </span>
  <menu-link *ngFor="let link of model.linkovi" 
  [vrednost]="link" 
  (onLinkClicked)="model.goToPath(link.putanja)"></menu-link>
  <!-- <span class="alt" *ngFor="let link of model.linkovi">
    <a (click)="model.goToPath(link.putanja)">{{link.naziv}}</a>
  </span> -->

</div>