<form (submit)="updejtujSlona()">
    <div class="col-md-12">
        <div class="form-group">
            <label>Ime</label>
            <input name="ime" [(ngModel)]="editovaniSlon.ime" class="form-control" />
        </div>
        <div class="form-group">
            <label>Kilaza</label>
            <input name="kilaza" type="number" [(ngModel)]="editovaniSlon.kilaza" class="form-control" />
        </div>
        <div class="form-group">
            <label>Visina</label>
            <input name="visina" type="number" [(ngModel)]="editovaniSlon.visina" class="form-control" />
        </div>
        <div class="form-group">
            <label>Birthdate</label>
            <input name="birthdate" type="date" [(ngModel)]="editovaniSlon.birthdate" class="form-control" />
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Sacuvaj</button>
  </form>
  <router-outlet></router-outlet>